s/* styles.css */
body {
    cursor: url('assets/cursor.png'), auto;
}
/* Custom cursor for links */
a {
    cursor: url('assets/cursor2.png'), pointer;
}

/* Custom cursor for buttons */
button {
    cursor: url('assets/cursor2.png'), pointer;
}
